:root {
   --white-key-width: 100px;
   --black-key-width: 60px;
}

.key {
   border: 1px solid #d3d3d3;
   display: flex;
   flex-flow: column nowrap;
   justify-content: end;
   padding-bottom: 12px;
}

.white {
   width: var(--white-key-width);
   height: calc(var(--white-key-width) * 4);
   background-color: #fff;
}

.black {
   width: var(--black-key-width);
   height: calc(var(--black-key-width) * 4);
   margin: 0 calc(var(--black-key-width) / -2);
   background-color: #000;
   z-index: 1;
}

.note-name {
   font-weight: 700;
   font-size: 1.2em;
   text-align: center;
}

.white .note-name {
   color: #313538;
}
.black .note-name {
   color: #aaa;
}
