:root {
   --white-key-width: 100px;
   --black-key-width: 60px;
}

.key {
   border: 1px solid #d3d3d3;
   display: flex;
   flex-flow: column nowrap;
   justify-content: flex-end;
   padding-bottom: 12px;
   cursor: pointer;
}

.white {
   width: var(--white-key-width);
   height: calc(var(--white-key-width) * 4);
   background-color: #fff;
}
.white:hover {
   background-color: #f3f3f3;
}
.white:active {
   background-color: #c3c3c3;
}
.white.active {
   background-color: #c3c3c3;
}

.black {
   width: var(--black-key-width);
   height: calc(var(--black-key-width) * 4);
   margin: 0 calc(var(--black-key-width) / -2);
   background-color: #000;
   z-index: 1;
}
.black:hover {
   background-color: #232323;
}
.black:active {
   background-color: #555;
}
.black.active {
   background-color: #555;
}

.note-name {
   font-weight: 700;
   font-size: 1.2em;
   text-align: center;
}

.white .note-name {
   color: #313538;
}
.black .note-name {
   color: #aaa;
}
